*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  background: lightgrey;
}

/* Utility */
.fas{
  color: #ffd35b;
}

/* Header */

.no-search{
  padding: 10px;
  font-size: 12px;
  background: green;
  border-radius: 10px;
}

ul{
  margin-bottom: 15px;
}


/* Main */

.original-language img{
  width: 25px;
}
