*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: rgb(22, 22, 22);
  margin: 0 auto;
}

main{
  margin: 0 auto;
  padding: 30px 0;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color:#5a5a5a;
  border-radius:16px;
}

/* Utility */

.flex{
  display: flex;
}

.flex-horizontal-center{
  display: flex;
  justify-content: center;
}

.flex-vertical-center{
  display: flex;
  align-items: center;
}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fas{
  color: #ffd35b;
}

/* Header */

.head{
  padding: 10px 0;
  align-items: center;
  background: black;
  justify-content: space-around;
}

.head > img{
  width: 150px;
}

.no-search{
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
}

.container-search{
  width: 250px;
}


.div-search{
  position: relative;
  transition: all 1.5s;
  width: 155px;
  height: 35px;
  left: 38%;
  background: #161616;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #161616;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 25px;
  line-height: 20px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 10px;
  background: #161616;
  color: white;
}

.div-search .fa{
  padding: 7px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: rgb(136, 136, 136);
  text-align: center;
  font-size: 15px;
  transition: all 1s;
}

.div-search:hover{
  width: 200px;
  cursor: pointer;
  left: 20%;
}

.div-search:hover input{
  display: block;
}

.div-search:hover .fa{
  background: #000000;
  color: white;
}

/* Main */
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(197, 197, 197);
  margin-bottom: 20px;
}

.films{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cover-film{
  flex-basis: 250px;
  height: 370px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.cover-film > img{
  width: 100%;
  height: 100%;
}

.cover-img{
  width: 100%;
}

.cover-film-details{
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 0;
  color: white;
  overflow: hidden;
}

.cover-film-details:hover{
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.title{
  margin: 5px 0;
}

.tipo-serie span,
.original-title span,
.title span{
  font-size: 13px;
}

.original-title{
  margin-bottom: 5px;
}

.vote-average,
.original-language{
  display: inline;
  padding: 5px;
}

.vote-average h6,
.original-language h6{
  display: inline;
}

.original-language img{
  width: 25px;
  vertical-align: middle;
}

.tipo-serie{
  margin: 5px 0 5px;
}

.overview{
  height: 100%;
} 
.overview h6{
  margin-bottom: 5px;
} 

.scroll{
  height: 200px;	
  overflow: hidden;
}

.scroll-p{
  width: 100%;
  height: 100%;
  padding: 0 5px;
  animation: scroll-up 20s linear infinite;
}

@keyframes scroll-up{
  0%{ 
 transform: translateY(100%); 
 }
  100%{ 
 transform: translateY(-250%); 
 }
} 


  