*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: lightgrey;
  margin: 0 auto;
}

main{
  width: 1200px;
  margin: 0 auto;
}


/* Utility */

.flex{
  display: flex;
}

.flex-horizontal-center{
  display: flex;
  justify-content: center;
}

.flex-vertical-center{
  display: flex;
  align-items: center;
}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fas{
  color: #ffd35b;
}

/* Header */

.head{
  justify-content: space-around;
  align-items: center;
  background: black;
}

.no-search{
  padding: 10px;
  font-size: 12px;
  background: green;
  border-radius: 10px;
}

/* Main */
.films{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  row-gap: 10px;
  justify-items: center;
}

.cover-film{
  position: relative;
}


.cover-film > img{
  width: 300px;
}

.cover-film-details{
  opacity: 0;
  color: red;
  list-style: none;
  position: absolute;
  top: 0;
}

.cover-film-details:hover{
  height: 100%;
  width: 100%;
  opacity: 1;
  background:black;
}


.original-language img{
  width: 25px;
}

.overview p{
  width: 300px;
  height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

